body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-colour: #fdddea; 
}

header {
  background-color: #fdddea;
  color: #fdddea;
  padding: 1rem;
}

header nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

main {
  padding: 2rem;
}

