body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
   background-color: ##ffe6f0
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
  background-color: #2b2b2b;
}

header {
  display: flex;
    background-color: #fdddea;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;
  padding: 40px 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #fdddea;
  color: #ffffff;
  padding: 1rem;
}

header nav a {
  color: #333;
  margin-right: 1rem;
  text-decoration: none;
}

main {
  padding: 2rem;
}

#Past runs h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.past-runs {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 15px;
  width: 250px;
  margin: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  overflow: hidden;
  vertical-align: top;
  transition: transform 0.3s, box-shadow 0.3s;
}

.past-runs:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}
