body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
   background-color: ##ffe6f0
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
  background-color: #FFFFFF;
}

.Mainpage {           
  display: flex;
  flex-direction: column;          
  justify-content: space-between;        
  align-items: center;             
  text-align: center;
  background-color: #fdddea;     
  padding: 8%;
}

.Mainpage h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #ffffff;              
}

.Mainpage p {
  font-size: 1.2rem;
  max-width: 600px;
  margin-bottom: 25px;
  color: #ffffff;
}

.Mainpage-pic {
  flex: 1;
  justify-content: center;

  .Mainpage-pic img {
    width: 100% 
      max-width: 480px; 
    border-radius: 20px 
      object-fit: cover;
  }

  .Mainpage-text {
  flex: 1;
}

.Mainpage-text h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

.Mainpage-text p {
  font-size: 1.2rem;
  margin-top: 15px;
  max-width: 450px;
}


  @media (max-width: 768px) {
  .Mainpage {
    flex-direction: column;
    text-align: center;
  }

  .Mainpage-text p {
    margin-left: auto;
    margin-right: auto;
  }
}

/* ABOUT SECTION */
.about-section {
  padding: 80px 20px;
  background-color: #ffffff;     
  text-align: center;
}

.about-section h2 {
  font-size: 2.5rem;
  margin-bottom: 25px;
  color: #2b2b2b;
}

.about-section p {
  max-width: 700px;
  margin: 0 auto 40px auto;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555555;
}

.box-thing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;         
  gap: 40px;
}

.box-thing .box {
  background-color: #fdddea;     /* light pink for contrast */
  padding: 30px 20px;
  border-radius: 15px;
  width: 300px;                  /* fixed width, scales with flex */
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.box-thing .box:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.box-thing h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #2b2b2b;
}

.box-thing p {
  font-size: 1rem;
  color: #2b2b2b;
  line-height: 1.5;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .mission-vision {
    flex-direction: column;
    gap: 25px;
  }

  .mission-vision .box {
    width: 80%;
    margin: 0 auto;
  }
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #fdddea;
  color: #ffffff;
  padding: 1rem;
}

header nav a {
  color: #333;
  margin-right: 1rem;
  text-decoration: none;
}

main {
  padding: 2rem;
}

#Past runs h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.past-runs {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 15px;
  width: 250px;
  margin: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  overflow: hidden;
  vertical-align: top;
  transition: transform 0.3s, box-shadow 0.3s;
}

.past-runs:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}
